 .u-section-1 {
  background-image: linear-gradient(45deg, #fef9e6, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 91px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
} .u-section-2 {
  background-image: url("images/download2.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 167px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 19px;
} .u-section-3 {
  background-image: url("images/unnamed.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 167px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 19px;
} .u-section-4 {
  background-image: url("images/maxresdefault2.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 167px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px auto;
} .u-section-5 {
  background-image: url("images/maxresdefault1.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 167px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 19px;
} .u-section-6 {
  background-image: url("images/tetris-lingo-feature_feature.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 167px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 19px;
} .u-section-7 {
  background-image: url("images/capsule_616x353.jpeg");
  background-position: 50% 15.17%;
}

.u-section-7 .u-sheet-1 {
  min-height: 167px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 34px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 19px;
} .u-section-8 {
  background-image: url("images/beat-that-the-game-2.png");
  background-position: 50% 69.64%;
}

.u-section-8 .u-sheet-1 {
  min-height: 167px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px auto;
} .u-section-9 {
  background-image: url("images/maxresdefault3.jpeg");
  background-position: 50% 96.5%;
}

.u-section-9 .u-sheet-1 {
  min-height: 167px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px auto;
} .u-section-10 {
  background-image: url("images/ScreenShot2022-04-09at6.48.14PM.png");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 167px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px auto;
} .u-section-11 {
  background-image: url("images/27319.746c2259.668x375o.c6cf8543e2d52x.png");
  background-position: 50% 12.2%;
}

.u-section-11 .u-sheet-1 {
  min-height: 167px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px auto;
} .u-section-12 {
  background-image: url("images/ddwzpe3-a4196e15-67f8-498d-95f9-231afec1a652.png");
  background-position: 50% 87.26%;
}

.u-section-12 .u-sheet-1 {
  min-height: 167px;
}

.u-section-12 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px auto;
} .u-section-13 {
  background-image: url("images/download3.jpeg");
  background-position: 50% 84.49%;
}

.u-section-13 .u-sheet-1 {
  min-height: 168px;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 167px;
  }
} .u-section-14 {
  background-image: url("images/photo-1541185934-01b600ea069c.jpeg");
  background-position: 50% 79.54%;
}

.u-section-14 .u-sheet-1 {
  min-height: 168px;
}

.u-section-14 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-14 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px auto;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 167px;
  }
} .u-section-15 {
  background-image: url("images/unnamed.webp");
  background-position: 50% 50%;
}

.u-section-15 .u-sheet-1 {
  min-height: 168px;
}

.u-section-15 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-15 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 167px;
  }
} .u-section-16 {
  background-image: url("images/space-invaders.jpeg");
  background-position: 50% 19.06%;
}

.u-section-16 .u-sheet-1 {
  min-height: 168px;
}

.u-section-16 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 167px;
  }
}